## Python Problems

These questions are all taken from Hacker Rank, If you want to practise click on the link below.

[Hacker Rank Questions](https://www.hackerrank.com/domains/python?filters%5Bsubdomains%5D%5B%5D=py-introduction)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import plotly
import pandas as pd
import math

### Task 1 : Print



Here is a sample line of code that can be executed in Python:

print("Hello, World!")

In [ ]:
print("Hello, World!")

Hello, World!

### Task 2: If/else

Given an integer, , perform the following conditional actions:

If n is odd, print Weird

If n is even and in the inclusive range of 2 to 5, print Not Weird

If n is even and in the inclusive range of 6 to 20, print Weird

If n is even and greater than 20, print Not Weird

Input Format

A single line containing a positive integer, n.

Output Format

Print Weird if the number is weird. Otherwise, print Not Weird.

In [ ]:
import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())

if (n%2 != 1) and (n >=2) and (n<=5):
    print('Not Weird')
elif (n%2 != 1) and (n >=6) and (n<=20):
    print('Weird')
elif (n%2 != 1) and (n>20):
    print('Not Weird')    
else:
    print('Weird')

5
Weird

### Task 3 : Arithmetic Operators

The provided code stub reads two integers from STDIN, a and b. 


---



Add code to print three lines where:

The first line contains the sum of the two numbers.

The second line contains the difference of the two numbers (first - second).

The third line contains the product of the two numbers.

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print('Addition: ',a+b)
    print('Subtraction: ',a-b)
    print('Product: ',a*b)

3
5
Addition:  8
Subtraction:  -2
Product:  15

### Task 4 : Division


The provided code stub reads two integers,  and , from STDIN.

Add logic to print two lines. The first line should contain the result of integer division, a//b . The second line should contain the result of float division, a/b .

No rounding or formatting is necessary.

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    
    print(a//b)
    print(a/b)

5
7
0
0.7142857142857143

### Task 5: Loops

The list of non-negative integers that are less than 3 is [1,2,3] . 

Print the square of each number on a separate line.

In [ ]:
if __name__ == '__main__':
    n = int(input())
    
    for i in range(n):
        print(i**2)

4
0
1
4
9

### Task 6: Function


An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.


---



In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:

The year can be evenly divided by 100, it is NOT a leap year, unless:

The year is also evenly divisible by 400. Then it is a leap year.

This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years

---
Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

In [ ]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if (year%4 == 0) and ((year%100 != 0) or (year%400 == 0)):
        leap = True
    else: leap = False
    
    return leap

### Task 7: Print Function


The included code stub will read an integer, n, from STDIN.

Without using any string methods, try to print the following:
123...n

Note that "..." represents the consecutive values in between.

Example

n = 5
Print the string 12345.

Input Format

The first line contains an integer n .

In [ ]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i+1, end = "")

5
12345